*~
/wcd_data_reduction.sh~
/.gitignore~
/.Rhistory
/rRNA_contamination.R~
/new25_mira_ace_parser.pl~
/n25_mir_contibution.R~
/read_quality.R~
/#read_quality.R#
/.#read_quality.R
/labmeet.Rnw~
/r_env_cache/*
*/r_env_cache/*
/weaver_debug_log.txt
/labmeet.snm
/labmeet.toc
/labmeet.out
/labmeet.nav
/labmeet.log
/auto/labmeet.el
/labmeet.aux
/#labmeet.Rnw#
/.#assemblies.R
/.#labmeet.Rnw
/Rplots.pdf
/labmeet-005.eps
/labmeet-005.pdf
/labmeet-007.eps
/labmeet-007.pdf
/labmeet-008.eps
/labmeet-008.pdf
/labmeet-009.eps
/labmeet-009.pdf
/labmeet-010.eps
/labmeet-010.pdf
/labmeet-011.eps
/labmeet-011.pdf
/labmeet-012.eps
/labmeet-012.pdf
/labmeet-004.eps
/labmeet-004.pdf
/labmeet-006.eps
/labmeet-006.pdf
/labmeet-013.eps
/labmeet-013.pdf
/labmeet-014.eps
/labmeet-014.pdf
/labmeet-015.eps
/labmeet-015.pdf
/labmeet-016.eps
/labmeet-016.pdf
/foo.RData
/labmeet-018.eps
/labmeet-018.pdf
/labmeet-020.eps
/labmeet-020.pdf
/Method.Rnw~
/Method.aux
/Method.log
/Method.out
/labmeet/Rplots.pdf
/labmeet/labmeet.aux
/labmeet/labmeet.log
/labmeet/labmeet.nav
/labmeet/labmeet.out
/labmeet/labmeet.snm
/labmeet/labmeet.toc
/labmeet/labmeet-004.eps
/labmeet/labmeet-004.pdf
/labmeet/labmeet-005.eps
/labmeet/labmeet-005.pdf
/labmeet/labmeet-006.eps
/labmeet/labmeet-006.pdf
/labmeet/labmeet-007.eps
/labmeet/labmeet-007.pdf
/labmeet/labmeet-008.eps
/labmeet/labmeet-008.pdf
/labmeet/labmeet-009.eps
/labmeet/labmeet-009.pdf
/labmeet/labmeet-010.eps
/labmeet/labmeet-010.pdf
/labmeet/labmeet-011.eps
/labmeet/labmeet-011.pdf
/labmeet/labmeet-012.eps
/labmeet/labmeet-012.pdf
/labmeet/labmeet-013.eps
/labmeet/labmeet-013.pdf
/labmeet/labmeet-014.eps
/labmeet/labmeet-014.pdf
/labmeet/labmeet-015.eps
/labmeet/labmeet-015.pdf
/labmeet/labmeet-016.eps
/labmeet/labmeet-016.pdf
/labmeet/labmeet-018.eps
/labmeet/labmeet-018.pdf
/labmeet/labmeet-020.eps
/labmeet/labmeet-020.pdf
/labmeet/weaver_debug_log.txt
/Method-005.eps
/Method-005.pdf
/Method-011.eps
/Method-011.pdf
/auto/Method.el
/combass.R~
/Method-013.eps
/Method-013.pdf
/Method-contigdistplot.eps
/Method-contigdistplot.pdf
/Method-convenn.eps
/Method-convenn.pdf
/Method-newdist.eps
/Method-newdist.pdf
/Method-newdist.pdf
/Method-readdistplot.eps
/Method-readdistplot.pdf
/frass.acc
/process_info.txt
/MN_contigs
/M_1_contigs
/M_n_contigs
/N_1_contigs
/N_n_contigs
/Second_order_contigs_more_newbler_contigs.txt
/Second_order_contigs_more_newbler_reads.txt
/Second_order_contigs_with_reads_nebeler_splited_into_many.txt
/contig_categories.txt
/contig_categories.html
/combass_tester.R~
/combass_tester.R~
/combass_tester.R~
/combass_tester.R~
/combass_tester.R~
/combas.Rdata
/Method-readconplot.eps
/Method-readconplot.pdf
/Method.bbl
/Method.blg
/Method.dvi
/SndO.clusters
/cobl_compare.R~
/#Method.Rnw#
/coordinates_from_p4e.pl~
/mapping.sh~
/#snp_analysis.R#
/.#snp_analysis.R
/snp_analysis.R~
/snp.Rdata
/mapping_differential.sh~
/gene_expression.R~
/paper/paper.Rdata
/transcriptome_paper.Rnw~
/transcriptome_paper.tex~
/annotation.R~
/read_signalp.R~
/Method-assembly/Method-contigdistplot.eps
/Method-assembly/Method-contigdistplot.pdf
/Method-assembly/Method-convenn.eps
/Method-assembly/Method-convenn.pdf
/Method-assembly/Method-newdist.eps
/Method-assembly/Method-newdist.pdf
/Method-assembly/Method-readconplot.eps
/Method-assembly/Method-readconplot.pdf
/Method-assembly/Method-readdistplot.eps
/Method-assembly/Method-readdistplot.pdf
/Method-assembly/Method.Rdata
/Method-assembly/Method.Rnw~
/Method-assembly/Method.aux
/Method-assembly/Method.bbl
/Method-assembly/Method.blg
/Method-assembly/Method.dvi
/Method-assembly/Method.log
/Method-assembly/Method.out
/Method-assembly/Rplots.pdf
/Method-assembly/weaver_debug_log.txt
/paper/auto/transcriptome_paper.el
/paper/weaver_debug_log.txt
/annotation.Rdata
/paper/Rplots.pdf
/signalip.Rdata
/cobl_compare_gg.R~
/which_eel.R~
/Method-assembly/auto/Method.el
/pileup_read.R~
/snp_analysis/snp_analysis.R~
/snp_analysis/snp.Rdata
/annotation/annotation.Rdata
/annotation/signalip.Rdata
/annotation/annotation.Rnw~
/annotation/weaver_debug_log.txt
/protein_prediction/imputed_from_p4EST.Rnw~
/snp_analysis/snp_analysis.Rnw~
/pileup_read.Rdata
/annotation/.Rhistory
/contamination/.Rhistory
/contamination/rRNA_contamination.Rnw~
/paper/.Rhistory
/Method-assembly/pileup_read.Rnw~
/Method-assembly/.Rhistory
/contamination/cobl_compare.Rnw~
/paper/paper.RdataTmp
/Method-assembly/Method-006.eps
/Method-assembly/Method-006.pdf
/Method-assembly/Method-014.eps
/Method-assembly/Method-014.pdf
/Method-assembly/Method-015.eps
/Method-assembly/Method-015.pdf
/Method-assembly/Method-018.eps
/Method-assembly/Method-018.pdf
/Method-assembly/Method-019.eps
/Method-assembly/Method-019.pdf
/Method-assembly/Method_image.Rdata
/Method-assembly/Method_image.RdataTmp
/current.Rdata
/paper/not_used.Rnw~
/snp_analysis/weaver_debug_log.txt
/Method-assembly/Method-016.eps
/Method-assembly/Method-016.pdf
/Method-assembly/Method-013.eps
/Method-assembly/Method-013.pdf
/Method-assembly/Method-020.eps
/Method-assembly/Method-020.pdf
/Method-assembly/Method-022.eps
/Method-assembly/Method-022.pdf
/common_R_functions.R~
/tax4gi.pl~
/tax4gi_nr.pl~
/tax4gi_nt.pl~
/figures/kingdoms_nr.png
/figures/kingdoms_nr_gc.png
/figures/phyla_nr.png
/figures/phyla_nr_gc.png
/figures/plant_families_nr.png
/Method-assembly/Method_image.RdataTmp1
/Method-assembly/Method_image.RdataTmp2
/Method-assembly/Method_image.RdataTmp3
/Method-assembly/Method_image.RdataTmp4
/Method-assembly/Method_image.RdataTmp5
/annotation/heme_catabolism.Rnw~
/annotation/respriation.Rnw~
/annotation/read_signalp.Rnw~
/conservation/conservation.Rnw~
/paper/current.Rdata
/snp_analysis/overrepresentation.Rnw~
/gene_expression/gene_expression.Rnw~
/paper/discussion_stub.tex~
/proteniase_inhibitors.Rnw~
/solexa_compare/solexa_compare.Rnw~
/brugia_compare.Rnw~
/gene_expression/#gene_expression.Rnw#
